.list-items{data: {message: {id: message.id}}}
  .list-items__top
    .list-items__top__name
      = message.user.name
    .list-items__top__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .list-items__down
    %p.list-items__down__content
    - if message.content.present?
      = message.content
  = image_tag message.image.url, class: 'list-items__down__image' if message.image.present?