.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        hirooka satoru
      .top-items__icons
        = link_to "#", class: "top-items__icons" do
          = icon("far", 'edit')
        = link_to "#", class: "top-items__icons" do
          = icon("fas", 'cog')
  .side-bar__group-list
    .group-items
      .group-items__name
        ドラクエ
      .group-items__content
        裏ボスが倒せません
    .group-items
      .group-items__name
        動物の森楽しみ
      .group-items__content
        早くたぬきに会いたい



