* {
box-sizing: border-box;
}
.wrapper{
height: 100vh;
width: 100vw;
display: flex;
$whitecolor:#ffffff;
$lightblue:#38aef0;

  .side-bar{
  height: 100vh;
  width: 300px;
//サイドヘッダー
  &__user-name{
    height: 100px;
    background-color: #253141;
    font-size: 16px;
    color: $whitecolor;
    align-items: center;
    display: flex;
    .top-items{
      height: 20px;
      width: 260px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      &__icons{
        margin-left: 5px;
        color:$whitecolor;
        text-decoration: none;
      }
    }
  }
  //グループ一覧
  &__group-list{
    overflow: scroll;
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    .group-items{
      height: 91px;
      padding-top: 20px;
      padding-left: 20px;
      padding-bottom: 40px;
      padding-right: 20px;
      .link{
        text-decoration: none;
      }
      &__name{
        font-size: 15px;
        margin-bottom: 5px;
        color: $whitecolor;
        font-style: bold;
      }
      &__content{
        font-size: 11px;
        color: $whitecolor;
        font-style: bold;
      }
    }
  }
  }
//メインヘッダー
  .chat-main{ 
  width: calc(100vw - 300px);
  &__group-info{
    height: 100px;
    background-color: $whitecolor;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    .left-info{
      &__name{
        margin-top: 35px;
        margin-bottom: 15px;
        color: 333333;
        font-size: 20px;
        display: flex;
      }
      &__member{
        font-size: 12px;
        color: #999999;
      }
    }
    .right-info{
      &__edit-btn{
        text-decoration: none;
        margin-top: 28px;
        height: 40px;
        padding: 0 20px;
        font-size: 16px;
        border: 1px solid $lightblue;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $lightblue;
      }
    }
  }
  //チャット画面
  &__message-list{
    overflow: scroll;
    height: calc(100vh - 190px);
    background-color: #fafafa;
    .list-items{
      padding: 35px 0px 0px 40px;
      margin-bottom: 11px;
      &__top{
        display: flex;
        &__name{
        font-size: 16px;
        color: #333333;
        }
        &__date{
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      &__down{
        margin-top: 12px;
        font-size: 14px;
        color: #434A54;
      }
    }
  }
  //メッセージ送信フォーム
  &__message-form{
    background-color:#d2d2d2;
    height: 90px;
    padding: 20px 40px;
    form{
      display: flex;
      .input-box{
        display: flex;
        position: relative;
        &__text{
          height: 50px;
          width: 100%;
          font-size: 16px;
          color: #434a54;
          border-style: none;
          padding: 0 40px 0 10px;
        }
        &__image{
          cursor: pointer;
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          &__file{
            display: none;
          }
        }
      }
      .submit-btn{
        width: 100px;
        height: 50px;
        background-color: $lightblue;
        margin-left: 15px;
        padding: 0 30px;
        font-size: 16px;
        cursor: pointer;
        color: white;
      }
    }
  }
  }
}